:root {
  --color-primary: #0f3da8;
  --color-primary-light: #104bd1;
  --color-primary-dark: #092c7c;

  --color-grey-light-1: #eee;
  --color-grey-light-2: #f7f7f7;

  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
}

$color-primary-light: #104bd1;
$color-primary-dark: #092c7c;
$color-primary: #0f3da8;