.btn-l:visited,
.btn-l:link {
  background-color: var(--color-primary);
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 6rem;
  border-radius: 100px;
  text-align: center;
  display: inline-block;

  justify-self: center;
  margin-bottom: 2rem;

  transition: all .4s;

  @include respond(small) {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.btn-b {
  background-color: #fff;
  color: var(--color-primary);
  border: none;
  border-radius: 100px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem 6rem;
  transition: all .3s;
  cursor: pointer;

  @include respond(small) {
    font-size: 1.4rem;
  }

  &:hover {
    background-color: var(--color-grey-light-2);
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .7rem 1.3rem rgba(0, 0, 0, .2);
  }

  &:focus {
    outline: none;
  }
}