*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(big) {
    font-size: 87.5%;
  } 

}

body {
  ::selection {
    background-color: var(--color-primary-light);
    color: #fff;
  }
}
