.mb-big {
  margin-bottom: 10rem;
}

.mb-medium {
  margin-bottom: 8rem;
}

.mb-small {
  margin-bottom: 6rem;
}

.line {
  border-bottom: 1px solid var(--color-grey-dark-2);
}

.open {
  top: 0 !important;
}
